.cs-container {
  overflow: hidden;
  height: 100%;
  background: #100E1D;

  .highlights {
    display: flex;
    flex-direction: column;

   &__title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      padding-left: 40px;
    }

    @media screen and (min-width: 768px) {
      padding: 0 100px;
      &__title {
        padding-left: 125px;
      }
    }
  }


  @media screen and (max-width: 767px) {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
}
