.cs-container {
  height: 100%;
  background: #100E1D;
  ;

  div {
    display: flex;
    row-gap: 10px;
  }

  .highlights {
    display: flex;
    flex-direction: column;

   &__title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      padding: 0 21px;
    }
  }
}
